<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<form method="post">
        {% csrf_token %}
        {{ form.as_p }}
</form>
     {% if user.is_authenticated %}
         {{ user.pretty_split_by_email }}
     {% endif %}
</div>

<div class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
     <div class="bg-white dark__bg-1000 rounded-2 py-2">
         {% if user.is_authenticated %}
             <a class="dropdown-item" href="">Settings</a>
             <a class="dropdown-item" 
                href="{% url 'logout' %}">Logout</a>
         {% else %}
             <a class="dropdown-item" href="{% url 'login' %}">Login</a>
             <a class="dropdown-item" 
                href="{% url 'register' %}">Register</a>
         {% endif %}
     </div>
</body>
</html>